<div class="row-fluid">
	<div class="span12 widget-span widget-type-raw_jinja" data-widget-type="raw_jinja" data-x="0" data-w="12">
		<div class="home-marquee" id="marquee">
			<div class="inner" style="background-image: url('');"></div>
			<div class="headline" id="marquee-headline">
				<h1><span id="hs_cos_wrapper_headline-text" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="text">Page not found</span></h1>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<span class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container">
			<div class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
				<div class="content">
					<h2>Error 404</h2>
					<p>Sorry, the page you were looking for at this URL was not found.</p>
				</div>
			</div>
		</span>
	</div>
</div>

{{ theme:partial src="social-links" }}