* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #666666;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif; }
