/* line 5, ../../sass/all/marquee.sass */
.marquee.home {
  width: 100%;
  background-color: #546268;
  position: relative;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }
  @media (max-width: 1400px) {
    /* line 5, ../../sass/all/marquee.sass */
    .marquee.home {
      height: 600px; } }
  @media (max-width: 1000px) {
    /* line 5, ../../sass/all/marquee.sass */
    .marquee.home {
      height: 400px; } }
  @media (max-width: 768px) {
    /* line 5, ../../sass/all/marquee.sass */
    .marquee.home {
      height: 360px; } }
  @media (max-width: 600px) {
    /* line 5, ../../sass/all/marquee.sass */
    .marquee.home {
      height: 300px; } }
  /* line 53, ../../sass/all/_mixins.sass */
  .marquee.home .inner {
    display: none;
    content: "";
    width: 100%;
    height: 400px;
    opacity: 0.1;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1); }
    @media (max-width: 1400px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.home .inner {
        height: 600px; } }
    @media (max-width: 1000px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.home .inner {
        height: 400px; } }
    @media (max-width: 768px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.home .inner {
        height: 220.0px; } }
    @media (max-width: 600px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.home .inner {
        height: 180px; } }
  /* line 80, ../../sass/all/_mixins.sass */
  .marquee.home .headline {
    position: absolute;
    height: auto;
    width: 100%;
    top: 30%;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in; }
    /* line 87, ../../sass/all/_mixins.sass */
    .marquee.home .headline h1 {
      position: relative;
      color: white;
      width: 80%;
      max-width: 750px;
      margin: 0 auto; }
      /* line 94, ../../sass/all/_mixins.sass */
      .marquee.home .headline h1:before {
        border-top: 5px solid white;
        opacity: 0.85;
        display: block;
        width: 250px;
        content: "";
        margin: 0 auto;
        padding-bottom: 0.5em; }
/* line 8, ../../sass/all/marquee.sass */
.marquee.inner-page {
  width: 100%;
  background-color: #546268;
  position: relative;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }
  @media (max-width: 1400px) {
    /* line 8, ../../sass/all/marquee.sass */
    .marquee.inner-page {
      height: 600px; } }
  @media (max-width: 1000px) {
    /* line 8, ../../sass/all/marquee.sass */
    .marquee.inner-page {
      height: 400px; } }
  @media (max-width: 768px) {
    /* line 8, ../../sass/all/marquee.sass */
    .marquee.inner-page {
      height: 360px; } }
  @media (max-width: 600px) {
    /* line 8, ../../sass/all/marquee.sass */
    .marquee.inner-page {
      height: 300px; } }
  /* line 53, ../../sass/all/_mixins.sass */
  .marquee.inner-page .inner {
    display: none;
    content: "";
    width: 100%;
    height: 400px;
    opacity: 0.1;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1); }
    @media (max-width: 1400px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.inner-page .inner {
        height: 600px; } }
    @media (max-width: 1000px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.inner-page .inner {
        height: 400px; } }
    @media (max-width: 768px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.inner-page .inner {
        height: 220.0px; } }
    @media (max-width: 600px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.inner-page .inner {
        height: 180px; } }
  /* line 80, ../../sass/all/_mixins.sass */
  .marquee.inner-page .headline {
    position: absolute;
    height: auto;
    width: 100%;
    top: 30%;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in; }
    /* line 87, ../../sass/all/_mixins.sass */
    .marquee.inner-page .headline h1 {
      position: relative;
      color: white;
      width: 80%;
      max-width: 750px;
      margin: 0 auto; }
      /* line 94, ../../sass/all/_mixins.sass */
      .marquee.inner-page .headline h1:before {
        border-top: 5px solid white;
        opacity: 0.85;
        display: block;
        width: 250px;
        content: "";
        margin: 0 auto;
        padding-bottom: 0.5em; }
/* line 11, ../../sass/all/marquee.sass */
.marquee.blog {
  width: 100%;
  background-color: #546268;
  position: relative;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }
  @media (max-width: 1400px) {
    /* line 11, ../../sass/all/marquee.sass */
    .marquee.blog {
      height: 600px; } }
  @media (max-width: 1000px) {
    /* line 11, ../../sass/all/marquee.sass */
    .marquee.blog {
      height: 400px; } }
  @media (max-width: 768px) {
    /* line 11, ../../sass/all/marquee.sass */
    .marquee.blog {
      height: 360px; } }
  @media (max-width: 600px) {
    /* line 11, ../../sass/all/marquee.sass */
    .marquee.blog {
      height: 300px; } }
  /* line 53, ../../sass/all/_mixins.sass */
  .marquee.blog .inner {
    display: none;
    content: "";
    width: 100%;
    height: 400px;
    opacity: 0.1;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1); }
    @media (max-width: 1400px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.blog .inner {
        height: 600px; } }
    @media (max-width: 1000px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.blog .inner {
        height: 400px; } }
    @media (max-width: 768px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.blog .inner {
        height: 220.0px; } }
    @media (max-width: 600px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .marquee.blog .inner {
        height: 180px; } }
  /* line 80, ../../sass/all/_mixins.sass */
  .marquee.blog .headline {
    position: absolute;
    height: auto;
    width: 100%;
    top: 30%;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in; }
    /* line 87, ../../sass/all/_mixins.sass */
    .marquee.blog .headline h1 {
      position: relative;
      color: white;
      width: 80%;
      max-width: 750px;
      margin: 0 auto; }
      /* line 94, ../../sass/all/_mixins.sass */
      .marquee.blog .headline h1:before {
        border-top: 5px solid white;
        opacity: 0.85;
        display: block;
        width: 250px;
        content: "";
        margin: 0 auto;
        padding-bottom: 0.5em; }

/* line 14, ../../sass/all/marquee.sass */
.home-marquee {
  width: 100%;
  background-color: #546268;
  position: relative;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }
  @media (max-width: 1400px) {
    /* line 14, ../../sass/all/marquee.sass */
    .home-marquee {
      height: 600px; } }
  @media (max-width: 1000px) {
    /* line 14, ../../sass/all/marquee.sass */
    .home-marquee {
      height: 400px; } }
  @media (max-width: 768px) {
    /* line 14, ../../sass/all/marquee.sass */
    .home-marquee {
      height: 360px; } }
  @media (max-width: 600px) {
    /* line 14, ../../sass/all/marquee.sass */
    .home-marquee {
      height: 300px; } }
  /* line 53, ../../sass/all/_mixins.sass */
  .home-marquee .inner {
    display: none;
    content: "";
    width: 100%;
    height: 400px;
    opacity: 0.1;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1); }
    @media (max-width: 1400px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .home-marquee .inner {
        height: 600px; } }
    @media (max-width: 1000px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .home-marquee .inner {
        height: 400px; } }
    @media (max-width: 768px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .home-marquee .inner {
        height: 220.0px; } }
    @media (max-width: 600px) {
      /* line 53, ../../sass/all/_mixins.sass */
      .home-marquee .inner {
        height: 180px; } }
  /* line 80, ../../sass/all/_mixins.sass */
  .home-marquee .headline {
    position: absolute;
    height: auto;
    width: 100%;
    top: 30%;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in; }
    /* line 87, ../../sass/all/_mixins.sass */
    .home-marquee .headline h1 {
      position: relative;
      color: white;
      width: 80%;
      max-width: 750px;
      margin: 0 auto; }
      /* line 94, ../../sass/all/_mixins.sass */
      .home-marquee .headline h1:before {
        border-top: 5px solid white;
        opacity: 0.85;
        display: block;
        width: 250px;
        content: "";
        margin: 0 auto;
        padding-bottom: 0.5em; }

/* line 17, ../../sass/all/marquee.sass */
.marquee-photo-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(49, 55, 61, 0.25);
  font-size: 13px;
  font-family: "freight-sans-pro", helvetica, arial;
  padding: 0.85em 1em;
  color: white;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }
  /* line 28, ../../sass/all/marquee.sass */
  .marquee-photo-credit:hover {
    background-color: #31373d; }
    /* line 31, ../../sass/all/marquee.sass */
    .marquee-photo-credit:hover a {
      color: #ee7b7c; }
  /* line 34, ../../sass/all/marquee.sass */
  .marquee-photo-credit a {
    color: #fd7071;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in; }
