.main-navigation, .left-content {
  background: #31373d;
  display: block;
  position: fixed;
  height: 100%;
  width: 155px;
  color: white;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 1000px) {
    .main-navigation, .left-content {
      background: rgba(49, 55, 61, 0.98);
      position: fixed;
      width: 100%;
      max-width: none;
      height: 100px;
      -moz-box-shadow: 0px 3px 2px rgba(49, 55, 61, 0.25);
      -webkit-box-shadow: 0px 3px 2px rgba(49, 55, 61, 0.25);
      box-shadow: 0px 3px 2px rgba(49, 55, 61, 0.25); } }
  .main-navigation .top, .main-navigation .left-content-top, .left-content .top, .left-content .left-content-top {
    position: relative;
    padding: 1em;
    height: 100%; }
    @media (max-width: 1000px) {
      .main-navigation .top, .main-navigation .left-content-top, .left-content .top, .left-content .left-content-top {
        position: relative;
        padding: 0em 1em;
        width: 82.5%;
        float: left;
        display: inline-block;
        height: 100px; } }
  .main-navigation .bottom, .main-navigation .left-content-bottom, .left-content .bottom, .left-content .left-content-bottom {
    background-color: #d35a5b;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 3.25em 1.85em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1000px) {
      .main-navigation .bottom, .main-navigation .left-content-bottom, .left-content .bottom, .left-content .left-content-bottom {
        width: 17.5%;
        padding: 0;
        float: right;
        display: inline-block;
        position: relative;
        height: 100px;
        padding: 0; } }
    .main-navigation .bottom:hover, .main-navigation .left-content-bottom:hover, .left-content .bottom:hover, .left-content .left-content-bottom:hover {
      background-color: #ea7071; }
    .main-navigation .bottom p, .main-navigation .left-content-bottom p, .left-content .bottom p, .left-content .left-content-bottom p {
      color: white;
      font-size: 1em;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .main-navigation .letter-logo, .left-content .letter-logo {
    max-width: 100%; }
    @media (max-width: 1000px) {
      .main-navigation .letter-logo, .left-content .letter-logo {
        max-width: 60%;
        padding-top: 2.25em;
        height: auto;
        margin: 0 auto;
        display: block; } }

.hs-menu-wrapper ul {
  padding: 0;
  margin-right: -1.05em;
  list-style: none; }
  @media (max-width: 1000px) {
    .hs-menu-wrapper ul {
      text-align: left; } }
  .hs-menu-wrapper ul li {
    margin: 0.2em 0;
    padding: 5px 0;
    font-size: 1em;
    line-height: 1;
    font-family: "freight-sans-pro", helvetica, arial;
    letter-spacing: 1px;
    text-align: right; }
    @media (max-width: 1000px) {
      .hs-menu-wrapper ul li {
        display: inline-block;
        height: 100px;
        margin: 0;
        padding-top: 35px; } }
    .hs-menu-wrapper ul li:nth-child(4) {
      margin-bottom: 1em; }
      @media (max-width: 1000px) {
        .hs-menu-wrapper ul li:nth-child(4) {
          margin-bottom: 0; } }
    .hs-menu-wrapper ul li a {
      padding: 0.5em 2em;
      color: #80858c;
      text-align: right;
      font-size: 15px;
      text-decoration: none; }
      .hs-menu-wrapper ul li a:hover {
        color: white; }
.hs-menu-wrapper .active {
  border-right: 5px solid #e26c6d;
  margin-right: -21px;
  padding-right: 16px; }
  @media (max-width: 1000px) {
    .hs-menu-wrapper .active {
      border-right: 0 !important;
      border-bottom: 5px solid #e26c6d; } }
  .hs-menu-wrapper .active a {
    color: white; }
.hs-menu-wrapper.hs-menu-flow-vertical > ul li a {
  padding: 6px 0px !important; }
  @media (max-width: 1000px) {
    .hs-menu-wrapper.hs-menu-flow-vertical > ul li a {
      padding: 0.65em 1em; } }
