<div class="row-fluid">
  <span id="hs_cos_wrapper_blog_social_sharing" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
    <div class="social-networks">
      <div class="content">
        <div class="row-fluid">
          <div class="span12">
            <h2>
            Let’s connect socially.
            </h2>
            <p>
            I’ve gone on a bit of a conquest, to achieve the username “simpson” on every social network. The battle has been long but i’m almost there, if you can help let me know!
            </p>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <ul class="social-list">
              <li>
                <span class="network-name">Twitter</span><span class="social-link"><a href="http://twitter.com/simpson" target="_blank">twitter.com/simpson</a></span>
              </li>
              <li>
                <span class="network-name">LinkedIn</span><span class="social-link"><a href="http://linkedin.com/in/simpson" target="_blank">linkedin.com/in/simpson</a></span>
              </li>
              <li>
                <span class="network-name">Instagram</span><span class="social-link"><a href="http://instagram.com/simpson" target="_blank">instagram.com/simpson</a></span>
              </li>
              <li>
                <span class="network-name">Vine</span><span class="social-link"><a href="http://vine.co/simpson" target="_blank">vine.co/simpson</a></span>
              </li>
              <li>
                <span class="network-name">Foursquare</span><span class="social-link"><a href="http://foursquare.com/simpson" target="_blank">foursquare.com/simpson</a></span>
              </li>
              <li>
                <span class="network-name">Dribbble</span><span class="social-link"><a href="http://dribbble.com/simpson" target="_blank">dribbble.com/simpson</a></span>
              </li>
              <li>
                <span class="network-name">Github</span><span class="social-link"><a href="http://github.com/simpson" target="_blank">github.com/simpson</a></span>
              </li>
              <li>
                <span class="network-name">Medium</span><span class="social-link"><a href="http://medium.com/@simpson" target="_blank">medium.com/@simpson</a></span>
              </li>
              <li>
                <span class="network-name">Forrst</span><span class="social-link"><a href="http://forrst.me/simpson" target="_blank">forrst.me/simpson</a></span>
              </li>
              <li>
                <span class="network-name">Zerply</span><span class="social-link"><a href="http://zerply.com/simpson" target="_blank">zerply.com/simpson</a></span>
              </li>
              <li>
                <span class="network-name">Facebook</span><span class="social-link"><a href="http://facebook.com/davidsimpsn" target="_blank">facebook.com/davidsimpsn</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>